{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
  {% if show_delete_confirmation %}
    {# Страница подтверждения удаления #}
    <div class="card">
      <div class="card-header">Удаление комментария</div>
      <div class="card-body">
        <p>{{ comment.text }}</p>
        <form method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Удалить</button>
        </form>
      </div>
    </div>
  {% else %}
    {# Страница редактирования #}
    <div class="card">
      <div class="card-header">Редактирование комментария</div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
      </div>
    </div>
  {% endif %}
{% endblock %}